@import 'reset';
@import 'variables';
@import 'mixins';

body, html {
	height: 100%;
	margin: 0;
	color: #fff;
}

body {
	overflow: hidden;
	font-family: $font-normal;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-heavy;
}

button {
	padding: 15px 10px;
	text-align: center;
	border: none;
	background-color: #342d25;
	border-radius: 1.5px;
	font-size: 1.15rem;
	font-family: Arial,Baskerville,monospace;
	min-width: 45px;
	margin: auto 10px auto auto;
	color: #fff;
	box-shadow: $b_s_light;
	cursor: pointer;
}

#app {
	display: block;
	width: 100%;
	overflow-y: hidden;
	text-align: center;
	background-color: $bgMain;

	label {
		text-align: center;
		display: block;
		max-width: 100%;
		margin: auto;
		padding: 15px;
		background-color: $bgMain;
		//background: url('../images/bg_common.jpg') repeat center center;
		//background-size: auto;
		border-bottom: solid 4px #584d41;

		h2 {
			font-size: 1.10rem;
			margin: 7.5px auto;
		}

		button {
			margin-left: 15px;
		}

		@media all and (max-width: $bp_mobile) {
			button {
				padding: 5px;
				margin-left: 5px;
			}
		}
	}

	input[type=text] {
		border: none;
		border-bottom: solid 1.5px #e95252;
		border-radius: 2.5px;
		box-shadow: $b_s_light;
		display: inline-block;
		min-width: 550px;
		padding: 15px 10px;
		background-color: #584d41;
		font-size: 1.20rem;
		font-family: $font-normal;
		transition: box-shadow 0.45s ease;
		color: #fff;

		&:focus {
			outline: none;
			border-bottom-color: #9ea5ff;
			box-shadow: $b_s_medium;
		}

		@media all and (max-width: $bp_mobile) {
			min-width: 225px;
			max-width: 250px;
			padding: 4.5px 2.5px;
		}
	}
	
	ul {
		list-style-type: none;
		max-width: 100%;
		margin: auto;
		padding-top: 40px;
		padding-left: 75px;
		padding-right: 75px;
		padding-bottom: 40px;
		margin-bottom: 45px;
		text-align: center;
		height: calc(100vh - 204px);
		overflow-y: auto;
		background-color: #897a6b;

		@media all and (max-width: $bp_mobile) {
			padding-left: 15px;
			padding-right: 15px;
			padding-top: 15px;
			margin-bottom: 0px;
			height: calc(100vh - 145px);
		}
	}

	.bg-list-item {
		background-size: #{$itemSizeWidth}px #{$itemSizeHeight}px !important;
		width: #{$itemSizeWidth}px;
		height: #{$itemSizeHeight}px;
		display: inline-block;
		vertical-align: top;
		position: relative;
		margin: 8px;
		border-radius: 2.45px;
		transform: none;
		transition: transform 0.30s ease;
		box-shadow: $b_s_light;
		z-index: 1;
		cursor: pointer;

		&:hover {
			transform: scale(1.15);
			box-shadow: $b_s_medium;
			z-index: 2;
		}

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #1e1e1e;
			opacity: 0.20;
			z-index: -1;
			border-radius: 2.45px;
		}

		&.hide {
			transform: scale(0);
		}

		span {
			@include ellipsisSingleLine(#{$itemSizeWidth - 20}px);

			color: white;
			display: block;
			position: absolute;
			background-color: #222;
			background-color: rgba(1,1,1, 0.80);
			bottom: -1px;
			left: 0;
			padding: 15px 10px;
			border-bottom-left-radius: 2.45px;
			border-bottom-right-radius: 2.45px;
		}

		&:after {
			content: "";
			position: absolute;
			bottom: 45px;
			left: 0; right: 0;
			margin: auto;
			width: 0; 
			height: 0; 
			border-left: 12px solid transparent;
			border-right: 12px solid transparent;
			border-bottom: 12px solid #222;
			border-bottom: 12px solid rgba(1,1,1, 0.80);
		}

		@media all and (max-width: $bp_mobile) {
			display: inline-block;
			margin: 5px;
		}

		@media all and (max-width: $bp_mobile_small) {
			$listItemSizeMax: 512;
			$sizeFactor: 1.75;
			$itemSizeWidth: $listItemSizeMax / $sizeFactor;
			$itemSizeHeight: $itemSizeWidth / 2;

			display: block;
			margin: 5px auto;
			background-size: #{$itemSizeWidth}px #{$itemSizeHeight}px !important;
			width: #{$itemSizeWidth}px;
			height: #{$itemSizeHeight}px;

			span {
				width: #{$itemSizeWidth - 20}px;
			}
		}
	}
}

/* ===== MODAL ===== */
#overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #1e1e1e;
	opacity: 0.75;
	z-index: 99;
}

#modal-container {
	position: fixed;
	width: 550px;
	height: 350px;
	top: 0; left: 0;
	bottom: 0; right: 0;
	margin: auto;
	z-index: 999;

	@media all and (max-width: $bp_mobile) {
		width: 80%;
	}

	@media all and (max-width: $bp_mobile_small) {
		width: 90%;
	}

	h2 {
		text-align: left;
		font-size: 2.15rem;
		margin: 15px auto;
	}

	img {
		box-shadow: $b_s_medium;

		@media all and (max-width: $bp_mobile) {
			max-width: 85vw;
		}

		@media all and (max-width: $bp_mobile_small) {
			max-width: 80vw;
		}
	}
}

#close-modal-button {
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 99999;
	background-color: $bgMain;
}

/* ======== FOOTER ======= */

footer {
	margin-top: 2.5rem;
	padding: 0.75rem;
	max-width: 100%;
	background-color: #6f5b4a;

	img {
		max-width: 250px;
		display: block;
		margin: 20px auto;
	}

	a {
		color: #4c3e31;
		text-decoration: none;
		margin: 8px auto;
		font-size: 13pt;
		font-weight: bolder;
		font-family: $font-heavy;
		display: block;
		text-align: center;
		max-width: 400px;

		img {
			max-width: 50px;
		}
		
		&:visited, &:hover {
			color: #4c3e31;
		}
	}
}